################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Vertx
/src/core/bin/Debug/netstandard2.0
/src/core/obj
/test/main/obj
/test/main/bin/Debug/netcoreapp2.1
